// typography

$sans_font_family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", Times, serif !default;


// colors
$jd_orange: rgb(194,81,15);
$white: #fff;