
// typography

$sans:                "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:               "minion-pro", Georgia, "Times New Roman", Times, serif !default;
$mono:                "prestige-elite-std";


// colors
$orange:              rgb(194,81,15);
$black:               #222;
$dk_grey:             #555;
$grey:                #aaa;
$lt_grey:             #ccc;
$off_white:           #ddd;
$white:               #f0f0f0;



body {
  font-family: $serif;
  font-size: 20px;
  color: $black;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-family: $serif;
}

a {
  color: $orange;
}

a:hover {
	text-decoration: none;
}

code {
  font-family: $mono;
  color: $black;
  background: $lt_grey;
  font-size: .7em;
  border-radius: 0;
  border: none;
}

h1 {
	
}

h2 {
	font-family: $serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $orange;
	font-size: 1em;
}

h3 {
	font-family: $serif;
	color: $black;
	font-weight: bold;
	
}

h4 {
	
}

.space-above {
  margin-top: 2em;
}

.large-space-above {
  margin-top: 4em;
}

.space-below {
  margin-bottom: 2em;
}

.large-space-below {
  margin-bottom: 4em;
}

.relative {
	position: relative;
}

.extra-small {
	font-size: .8em;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

.navbar-default {
	background-color: rgba(34,34,34,.9);
	border: 0;
	
	.navbar-nav > li > a {
		color: $orange;
		&:hover {
			color: $orange;
		}
	}
	
	.navbar-social {
		margin-right: 1em;
	}
	
	.navbar-social > li > a {
		margin: 0;
		padding: .6em .1em;
	}
	
}

.navbar-brand {
	font-size: 1em;
	.joe-logo {
	  font-family: $sans;
	  font-weight: 100;
	  font-size: 1em;
	  color: $white;
		text-transform: uppercase;
		margin: .6em 2em .6em 1em;
	}
}

.nav-icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: top-left;
	height: 1.3em;
	width: 1.3em;
	float: left;
}

.nav-icon-flickr {
	background-image: url("webicon-flickr.svg");
	&:hover {
		background-image: url("webicon-flickr-hover.svg");
	}
}

.nav-icon-instagram {
	background-image: url("webicon-instagram.svg");
	&:hover {
		background-image: url("webicon-instagram-hover.svg");
	}
}

.nav-icon-twitter {
	background-image: url("webicon-twitter.svg");
	&:hover {
		background-image: url("webicon-twitter-hover.svg");
	}
}

.nav-icon-linkedin {
	background-image: url("webicon-linkedin.svg");
	&:hover {
		background-image: url("webicon-linkedin-hover.svg");
	}
}

.contact-info {
	position: absolute;
	bottom: 2em;
	left: 2em;
	.social-link {
		font-size: .7em;
	}
}

.headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 3em;
  color: #fff;
}

.portfolio-headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 2em;
  color: #000;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lt_grey {
  color: $lt_grey;
}

.off_white {
  color: $off_white;
}

#returnToTop {
  display: none;
}

a.top-link {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.resume{
	padding: 4.5em 0 4em;
	h3 {
		margin-bottom: .3em;
	}
	h4 {
		margin: .3em 0;
	}
	.job {
		margin-bottom: 2em;
	}
	.accomplishments {
		font-style: italic;
		margin-top: 1.6em;
	}
	ul.accomplishments-list {
		padding-left: 1em;
		width: 80%;
	}
	ul.accomplishments-list > li {
		font-size: .8em;
	}
}

.down-arrow {
	width: 1.3em;
	height: 1.3em;
	margin-left: .5em;
}

.content-headline {
  background-image: url('jd_portrait_1.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 6.5em 0 3em;
	height: 100vh;
  p {
    font-family: $sans;
    font-weight: 100;
  }
  a {
    font-weight: 300;
  }
}

.web-design {
	padding-top: 2.5em;
}

.portfolio-nav-container {
	padding-left: 0;
}

.portfolio-nav {
	padding: 2em 1em 2em 1.5em;
	width: 220px;
}

.portfolio-nav > ul > li > a {
	font-size: .8em;
	padding: .2em 0;
}

.portfolio-container-light {
  background: $white;
  padding: 2em 0;
}

.portfolio-container-offwhite {
  background: $off_white;
  padding: 2em 0;
}

.skills-container {
  background-image: url('ballard.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;
}

.skill-list {
  font-family: $mono;
  color: $white;
  font-size: .7em;
}

.img-placeholder {
  height: 400px;
  background: $dk_grey;
}

.footer {
  background: $black;
  color: $white;
  padding: 2em 0;
  font-size: .8em;
}

@media screen and (min-width: 1200px) {
  
  .content-headline p {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 1024px) {
  .content-headline {
    background-attachment: scroll;
  }
  .skills-container {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 768px) {
  .content-headline {
    padding-bottom: 2em;
  }
}

