
// typography

$sans:                "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:               "minion-pro", Georgia, "Times New Roman", Times, serif !default;
$mono:                "prestige-elite-std";


// colors
$orange:              rgb(194,81,15);
$black:               #222;
$dk_grey:             #555;
$grey:                #aaa;
$lt_grey:             #ccc;
$off_white:           #ddd;
$white:               #f0f0f0;



body {
  font-family: $serif;
  font-size: 20px;
  color: $black;
  background: $white;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-family: $serif;
}

a {
  color: $orange;
}

code {
  font-family: $mono;
  color: $dk_grey;
  background: none;
}

.space-above {
  margin-top: 2em;
}

.large-space-above {
  margin-top: 4em;
}

.space-below {
  margin-bottom: 2em;
}

.large-space-below {
  margin-bottom: 4em;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

.navbar-right {
  margin-right: 0;
}

.navbar-nav li a {
  font-family: $sans;
  font-weight: 100;
  font-size: 1em;
  color: $white;
  padding: .6em 0 0;
}

.navbar-nav li a:hover.secondary {
  color: $white;
}

.navbar-nav li a.secondary {
  font-size: .6em;
  text-transform: uppercase;
  color: $white;
}

.navbar-nav li a.top-link {
  margin-right: .6em;
}

.headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 3em;
  color: #fff;
}

.portfolio-headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 2em;
  color: #000;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lt_grey {
  color: $lt_grey;
}

.off_white {
  color: $off_white;
}

.joe-logo {
  font-family: $sans;
  font-weight: 100;
  font-size: 1em;
  color: #fff;
  padding-left: .6em;
}

#returnToTop {
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-default {
  background-color: rgba(194,81,15,0.95);
  border: 0;
  border-radius: 0;
  padding: .6em 0;
}

.content-headline {
  background-image: url('jd_seattle.jpg');
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 5em 0 3em;
  p {
    font-family: $sans;
    font-weight: 100;
  }
  a {
    font-weight: 300;
  }
}

.skill-list {
  font-family: $mono;
  color: $white;
  font-size: .7em;
}

.portfolio-container-light {
  background: $white;
  padding: 2em 0;
}

.portfolio-container-offwhite {
  background: $off_white;
  padding: 2em 0;
}

.skills-container {
  background-image: url('ballard.jpg');
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;
}

.img-placeholder {
  height: 400px;
  background: $dk_grey;
}

.footer {
  background: $black;
  color: $white;
  padding: 2em 0;
  font-size: .8em;
  p {
    font-family: $mono;
    font-size: .8em;
    color: $grey;
  }
}

@media screen and (min-width: 1200px) {
  
  .content-headline p {
    font-size: 1.3em;
  }
  
}

@media screen and (max-width: 768px) {
  .content-headline {
//    height: auto;
    padding-bottom: 2em;
  }
}

