// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// typography

$sans:                "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:               "minion-pro", Georgia, "Times New Roman", Times, serif !default;
$mono:                "prestige-elite-std";


// colors
$orange:              rgb(194,81,15);
$black:               #222;
$dk_grey:             #555;
$grey:                #aaa;
$lt_grey:             #ccc;
$off_white:           #ddd;
$white:               #f0f0f0;



body {
  font-family: $serif;
  font-size: 20px;
  color: $black;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-family: $serif;
}

a {
  color: $orange;
}

.navbar-right {
  margin-right: 0;
}

.navbar-nav li a {
  font-family: $sans;
  font-weight: 100;
  font-size: 1em;
  color: $white;
  padding: .6em 0 0;
}

.navbar-nav li a:hover.secondary {
  color: $white;
}

.navbar-nav li a.secondary {
  font-size: .6em;
  text-transform: uppercase;
  color: $white;
}

.navbar-nav li a.top-link {
  margin-right: .6em;
}
.headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 3em;
  color: #fff;
  margin-top: 20vh;
}

.portfolio-headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 2em;
  color: #000;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lt_grey {
  color: $lt_grey;
}

.off_white {
  color: $off_white;
}

.joe-logo {
  font-family: $sans;
  font-weight: 100;
  font-size: 1em;
  color: #fff;
  padding-left: .6em;
}

#returnToTop {
  display: none;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-default {
  background-color: rgba(194,81,15,0.8);
  border: 0;
  border-radius: 0;
  padding: .6em 0;
}

.content-headline {
  height: 90vh;
  background-image: url('jd_seattle.jpg');
  background-position: center center;
  background-size: cover;
}

.portfolio-container-light {
  background: $white;
  padding: 2em 0;
}

.portfolio-container-dark {
  background: $black;
  padding: 2em 0;
}

.img-placeholder {
  height: 400px;
  background: $dk_grey;
}

.footer {
  background: $black;
  color: $white;
  padding: 2em 0;
  font-size: .8em;
  p {
    font-family: $mono;
    font-size: .8em;
    color: $grey;
  }
}


