
// typography

$sans:                "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:               "minion-pro", Georgia, "Times New Roman", Times, serif !default;
$mono:                "prestige-elite-std";


// colors
$orange:              rgb(194,81,15);
$black:               #222;
$dk_grey:             #555;
$grey:                #aaa;
$lt_grey:             #ccc;
$off_white:           #ddd;
$white:               #f0f0f0;



body {
  font-family: $serif;
  font-size: 20px;
  color: $black;
	padding-left: 15em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-family: $serif;
}

a {
  color: $orange;
}

code {
  font-family: $mono;
  color: $black;
  background: $lt_grey;
  font-size: .7em;
  border-radius: 0;
  border: none;
}

.space-above {
  margin-top: 2em;
}

.large-space-above {
  margin-top: 4em;
}

.space-below {
  margin-bottom: 2em;
}

.large-space-below {
  margin-bottom: 4em;
}

.relative {
	position: relative;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

.site-header {
	background: $black;
	color: $white;
	left: 0;
	z-index: 1000;
	padding-top: 0;
	position: fixed;
	overflow: hidden;
	width: 15em;
	height: 100vh;
	padding: 2em 1.6em;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul li .main-link {
	font-size: .9em;
}

nav > ul li:hover,
nav > ul li a:hover {
	text-decoration: none;
	color: #fff;
	.glyphicon {
		color: $grey;
	}
}

nav .nav-toggle {
	position: absolute;
	top: 2em;
	right: 0em;
}

nav .glyphicon {
	font-size: .7em;
	padding-right: 1em;
	color: $dk_grey;
	&:hover {
		color: $grey;
	}
}

.headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 3em;
  color: #fff;
}

.portfolio-headline {
  font-family: $sans;
  font-weight: 100;
  font-size: 2em;
  color: #000;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.lt_grey {
  color: $lt_grey;
}

.off_white {
  color: $off_white;
}

.joe-logo {
  font-family: $sans;
  font-weight: 100;
  font-size: 1em;
  color: #fff;
}

#returnToTop {
  display: none;
}

a.top-link {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.down-arrow {
	width: 1.3em;
	height: 1.3em;
	margin-left: .5em;
}

.content-headline {
  background-image: url('jd_portrait_1.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 4em 0 3em;
  p {
    font-family: $sans;
    font-weight: 100;
  }
  a {
    font-weight: 300;
  }
}

.skill-list {
  font-family: $mono;
  color: $white;
  font-size: .7em;
}

.portfolio-container-light {
  background: $white;
  padding: 2em 0;
}

.portfolio-container-offwhite {
  background: $off_white;
  padding: 2em 0;
}

.skills-container {
  background-image: url('ballard.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;
}

.img-placeholder {
  height: 400px;
  background: $dk_grey;
}

.footer {
  background: $black;
  color: $white;
  padding: 2em 0;
  font-size: .8em;
}

.footer-blurb {
  font-family: $mono;
  font-size: .8em;
  color: $grey;
}

@media screen and (min-width: 1200px) {
  
  .content-headline p {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 1024px) {
  .content-headline {
    background-attachment: scroll;
  }
  .skills-container {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 768px) {
  .content-headline {
    padding-bottom: 2em;
  }
}

