// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$sans_font_family: "brandon-grotesque", sans-serif;

.headline {
  font-family: $sans_font_family !important;
  font-weight: 100;
  font-size: 136px;
}